# Direktori/node_modules
node_modules/

# Direktori yang dibuat oleh npm
npm-debug.log

# Dependency untuk proyek berbasis Node.js
# Gunakan '* ' jika Anda menggunakan NPM
# atau yarn.lock jika Anda menggunakan Yarn sebagai manajer paket
package-lock.json
yarn.lock

# Environment
.env

# File editor
.vscode/
.idea/

# Cache dan log
logs/
*.log

# Build dan konfigurasi
/build/
/dist/
*.js
